%p#notice= notice

%p
  %b Name:
  = @section.name
%p
  %b Description:
  = @section.description

= link_to 'Edit', edit_course_section_path(@course, @section)
\|
= link_to 'Back', course_sections_path(@course)
