%h1= @course.name
%p= @course.description

= link_to "Create Section", new_course_section_path(@course)
- @course.sections.each do |s|
	.well
		%h2= s.name
		%b= s.description
		= link_to "Edit Section", edit_course_section_path(@course, s)
		- s.lessons.each do |l|
			.panel
				%h4=link_to l.name, course_section_lesson_path(@course, s, l)
				%b= l.description
